/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: #A59E8C;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.breadcrumbs {
  font-size: 1.5rem;
}

.toast {

margin-top: 25px;
font-size: 1.25rem;
}

.true {

  color: green;

}

.false {

  color: red;

}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

p {
  color: #4F4F4F;
}
.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #091540;
  color: #D7CEB2 ;
  background-color: #4C5760;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: #93A8AC;
  color: #2D2819;
}

.btn:focus {
  outline: none;
}
